<hibernate-configuration>
    <session-factory>
        <!-- JDBC параметры -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">123</property>

        <!-- Диалект базы данных -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Автоматическая генерация схемы базы данных -->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- Логирование SQL-запросов -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>

        <!-- Маппинг классов -->
        <mapping class="jm.task.core.jdbc.model.User"/>


    </session-factory>
</hibernate-configuration>
